@model Cart

@if (Model == null || Model.Items.Count == 0)
{
	<h3>Карзина пустая</h3>
}
else
{
	<div class="row">
		<div class="col">
			<table class="table">
				<thead>
					<tr>
						<th>Название</th>
						<th>Цена руб</th>
						<th>Количество</th>
						<th>Стоимость руб</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					@foreach (var item in Model.Items)
					{
						<tr>
							<td>@item.Product.Name</td>
							<td>@item.Product.Coast</td>
							<td>@item.Amount</td>
							<td>@item.Cost</td>
							<td>
								<a class="btn btn-dark" href="/Cart/Add?productId=@item.Product.Id" role="button">+</a>
								<a class="btn btn-dark" href="/Cart/DeacreseAmount?productId=@item.Product.Id" role="button">-</a>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<div class="text-end">
				<h3>Итого</h3>
				<h3>@Model.Cost</h3>
			</div>
			<div class="text-center">
				<a class="btn btn-dark" href="/Home/Index" role="button">Продолжить покупки</a>
				<a class="btn btn-dark" href="/order/Index" role="button">Оформить заказ</a>
				<a class="btn btn-danger" href="/Cart/Clear" role="button">Очистить корзину</a>
			</div>
		</div>
	</div>
}
